@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");

:root {
  --primary-pink: #fb2261;
  --primary-white: #ffffff;
  --dark-gray: #494f6d;
  --border-gray: #efefef;
  --light-gray: #929292;
  --secondary-gray: #eaeaea;
  --primary-green: #12cd72;
  --primary-red: #f42525;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.p-top-1 {
  padding-top: 1rem;
}
.p-top-1-half {
  padding-top: 1.5rem;
}

ul {
  display: block;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.pos-absolute-l {
  position: absolute;
  left: 0;
}

.flexWrapper {
  display: flex;
}

.progressBar {
  display: flex;
  width: 50%;
  padding: 1.5rem;
  border-right: 1px solid var(--border-gray);
}
.netProfit {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 1.5rem;
}

.smallBlock {
  height: 2rem;
  width: 0.5rem;
  background-color: #12cd72;
  border-radius: 0.5rem;
}

.ProfitWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1.5rem;
}

.BlockWrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.BetDetailWrapper {
  padding: 0 1.5rem;
}

.BetDetail {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.BetInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem 0;
  border-bottom: 1px solid var(--border-gray);
  width: 100%;
}
